<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>mock file upload</title>
</head>
<body>
<h1>上传文件，返回假的 url</h1>
<form action="/image" method="post">
  <input type="file" name="file" multiple>
  <button type="submit">上传</button>
</form>
</body>
</html>
